[Desktop Entry]
Comment=
Exec=${HOME}/catgpt/CatGPT-linux-x64/CatGPT
Icon=${HOME}/catgpt/CatGPT-linux-x64/resources/app/CatGPTIcon.png
Name=CatGPT
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
Type=Application
